:root{
   --primary-color:cornsilk;
    --secondary-color:orange;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: var(--primary-color);
  }
  
.chart{
  width: 600px;
  display: block;
  margin: 50px auto;
  
}

.numbers{
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
  width: 50px;
  height: 100%;
  display: inline-block;
  float: left;
}

.numbers li{
  list-style: none;
  height: 50px;
  position: relative;
  bottom: 0;
}

.numbers span{
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.bars{
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 600;
  background: #555;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 500px;
  height: 300px;
  box-shadow: 0 0 10px 0 #555;
  border-radius: 5px;
}

.bars li{
  display: table-cell;
  width: 100px;
  height: 300px;
  position: relative;
}


.bars span{
  width: 100%;
  position: absolute;
  bottom: -30px;
  text-align: center;
}

.bars .bar{
  display: block;
  background: #17C0E8;
  width: 10px;
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
  transition-property: background, box-shadow;
  right: 14%;
}

.bars .bar:hover{
  background: #55EFC4;
  box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
  cursor: pointer;
}

.bars .bar:before{
  color: var(--secondary-color);
  content: attr(data-vnd) 'đ';
  position: relative;
  bottom: 20px;
}

.buttons{
  width: 200px;
  height: 0;
  display: block;
  margin: 50px auto;
}

.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  list-style: none;
  word-spacing: 400px;
}

.months{
  color: var(--secondary-color);
}

.sum {
  width: 500px;
  margin: 0 auto;
}

.price {
  display: inline-block;
  margin: 0;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-color);
  margin-top: 10px;
}